body {
    background-color: rgb(145, 225, 174);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 95vh;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    width: 470px;
    height: 125px;
}

button {
    width: 100px;
    height: 100px;
    border-style: none;
    border-radius: 15px;
    background-color: whitesmoke;
    box-shadow: 10px 10px 20px rgb(70, 65, 65);
    display: flex;
    justify-content: center;
    align-items: center;
    transition-duration:0.3s;
}

#rock:hover {
    width: 120px; 
    height: 120px; 
    box-shadow: 0 0 20px rgb(255, 251, 6); 
    border-style: solid; border-width: 4px; 
    border-color: rgb(255, 251, 6);
    transition-duration:0.3s;
}

#paper:hover {
    width: 120px; 
    height: 120px; 
    box-shadow: 0 0 20px rgb(255, 251, 6); 
    border-style: solid; border-width: 4px; 
    border-color: rgb(255, 251, 6);
    transition-duration:0.3s;
}

#scissors:hover {
    width: 120px; 
    height: 120px; 
    box-shadow: 0 0 20px rgb(255, 251, 6); 
    border-style: solid; border-width: 4px; 
    border-color: rgb(255, 251, 6);
    transition-duration:0.3s;
}

img:hover {
    width: 120px;
    height: 120px;
    transition-duration:0.3s;
}

img {
    width: 100px;
    height: 100px;
    transition-duration:0.3s;
}

.result {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(70, 65, 65);
    padding-top: 20px;
    font-size: 20px;
    font-weight: 700;
}

.score {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(70, 65, 65);
    padding-top: 5px;
}

